#sub-banner{
	margin-top: 116px;
}
#side-nav{
	background:#225daa;
	padding:15px 0;
}
#side-nav section >ul{
	text-align:center;
}
#side-nav section >ul li{
	display:inline-block;
}
#side-nav section >ul li a{
    color: #fff;
    font-size: 15px;
    display: block;
    padding: 3px 15px;
    border-radius: 15px;
    text-align: center;
}
#side-nav section >ul li.action a,
#side-nav section >ul li:hover a{
	background:#2c93ee;
}
.content-wrap{
	background-image:url(/images/33/pro-main-bg.jpg);
	background-repeat:no-repeat;
	background-position:0 100%;
	background-color:#fff;
	padding:100px 0;
}
.content-wrap .waylink{
	overflow:hidden;
}
.content-wrap .waylink ul{
	float:right;
}
.content-wrap .waylink ul li{
	display:inline-block;
	position:relative;
	padding-left: 15px;
	line-height: 100%;
}
.content-wrap .waylink ul li a{
	font-size:15px;
	color:#676767;
	font-weight:normal;
}
.content-wrap .waylink ul li:after{
	position:absolute;
	content:'>';
	left:0;
	top:1px;
}
.content-wrap .waylink ul li:first-child:after{
	display:none;
}
.content-wrap .waylink ul li h1 a{
	color:#2c93ee;
}
.content-wrap .waylink .protitle{
	overflow:hidden;
	float:left;
}
.content-wrap .waylink .protitle h3{
	color:#3497ef;
	font-size:40px;
	font-weight:normal;
	display:inline-block;
	line-height:100%;
}
.content-wrap .waylink .protitle span{
	color:#787878;
	font-size:30px;
	display:inline-block;
	line-height:100%;
	vertical-align: bottom;
    margin-left: 15px;
}
.content-wrap .waylink .protitle span:first-letter{
	font-size:35px;
}
.content-main{
	min-height: 400px;
    margin: 50px 0;
}
