body{margin:0;border:0;width:100%;color:#404042;font-size:14px;line-height:170%;}
div, h1, h2, h3, h4, hr, p, form, label, input, textarea, img, span, strong{text-align:left;vertical-align:middle;margin:0px;padding:0px;word-wrap:normal;word-break:normal;border-width:0;font-family:'cwTeXHei',"微軟正黑體", "蘋果儷中黑", "Lucida Grande", "Arial", "Arial Narrow";}
hr{noshade:noshade;}
th{font-weight:normal;}
ul{list-style:none;margin:0;padding:0;overflow:hidden;-webkit-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{list-style:none;}
a ,
a:hover{text-decoration:none;cursor:pointer;outline:none;}
img{max-width:100%;}
br{font-family:Arial !important;}
form p input[type="text"],
form p input[type="password"],
form p textarea,
form p select{background:rgba(255,255,255,0.6);border:1px #858384 solid;}
form p input[type="text"]:focus ,
form p input[type="password"]:focus{border-color:#13a5e0;background:#13a5e0;color:#fff;}
input[type="text"], input[type="submit"], input[type="reset"], input[type="button"], button ,select{-webkit-appearance:none;}
@font-face{font-family:'cwTeXHei';font-style:normal;font-weight:500;src:url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);src:url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');}
#jumpDiv ,
#jumpIframe{position:relative;background:#fff;top:0;left:0;z-index:9999999999999999999999;}
section{width:1180px;margin:0 auto;overflow:hidden;}
section.bigwidth,
header .menu >ul{width:90%;}
.nav-func{display:none;}
header{position:fixed;background:#fff;z-index:99;top:0;width:100%;}
header #cis{position:absolute;left:0;top:0;}
header #top-nav{background:#222222;padding:3px 0;}
header #top-nav .bigwidth{text-align:right;}
header #top-nav a{color:#fff;font-size:12px;position:relative;line-height:100%;padding:0 0 0 11px;}
header #top-nav a:last-child:before{position:absolute;content:'|';left:4px;top:1px;}
header section.bigwidth,
header .menu >ul{overflow:visible;}
header .menu >ul{text-align:right;margin:0 auto;}
header .menu >ul >li{display:inline-block;position:relative;}
header .menu >ul >li >a{display:block;font-size:15px;color:#676767;padding:36px 30px;line-height:100%;}
header .menu >ul >li:hover >a{background:#2c93ee;color:#fff;}
header .menu >ul >li >ul{display:none;position:absolute;top:100%;left:0;width:170px;z-index:8;}
header .menu >ul >li:hover >ul{display:block;}
header .menu >ul >li:hover >ul >li{background:#393939;color:#fff;}
header .menu >ul >li:hover >ul >li p,
header .menu >ul >li:hover >ul >li a{display:block;color:#fff;padding:7px 20px;text-align:left;border-bottom:1px solid #888;}
header .menu >ul >li:hover >ul >li:hover a{background:#676767;}
#content{position:relative;z-index:5;}
#gotop{position:fixed;right:20px;bottom:30px;font-size:14px;color:#bbb;z-index:9;border:2px solid #d6d6d6;padding:5px 10px;}
#gotop:hover{background:#bbb;color:#fff;}
.phoneWrap{display:none;}
footer{background:#fff;color:#2f2f2f;font-size:12px;padding:50px 0 30px;position:relative;z-index:2;}
footer .info{text-align:center;margin-bottom:20px;}
footer .info a{color:#2f2f2f;}
#mobile-menu{display:none;}